wheel 

aerich
aiofiles
aiosqlite
alembic
broadcaster[redis]
databases[sqlite]
fastapi
motor
numpy
opencv-python
pandas
passlib[bcrypt]
pydantic[email]
python-multipart
scikit-learn
SQLAlchemy
sqlalchemy-stubs
starlette-csrf
tortoise-orm
uvicorn[standard]

asgi-lifespan
black
codecov
httpx
mypy
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-unordered